<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-chileautosWebApi-20161004032235.mdf;Initial Catalog=aspnet-chileautosWebApi-20161004032235;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="baseprodEntities" connectionString="metadata=res://*/Datos.BaseprodModel.csdl|res://*/Datos.BaseprodModel.ssdl|res://*/Datos.BaseprodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=baseprod2;persist security info=True;user id=usrBDDesa;password=*pwdBD*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="patentesEntities" connectionString="metadata=res://*/Datos.PatentesModel.csdl|res://*/Datos.PatentesModel.ssdl|res://*/Datos.PatentesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=patentes;user id=usrBDDesa;password=*pwdBD*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="bdToolsEntities" connectionString="metadata=res://*/Datos.bdTools.csdl|res://*/Datos.bdTools.ssdl|res://*/Datos.bdTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=bdTools;user id=usrBDDesa;password=*pwdBD*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="baseprodEntities" connectionString="metadata=res://*/Datos.BaseprodModel.csdl|res://*/Datos.BaseprodModel.ssdl|res://*/Datos.BaseprodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.241;initial catalog=baseprod2;persist security info=True;user id=usrBDDesa;password=*pwdBD*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="patentesEntities" connectionString="metadata=res://*/Datos.PatentesModel.csdl|res://*/Datos.PatentesModel.ssdl|res://*/Datos.PatentesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.158;initial catalog=patentes;user id=usdes;password=Su_4320$.x;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bdToolsEntities" connectionString="metadata=res://*/Datos.bdTools.csdl|res://*/Datos.bdTools.ssdl|res://*/Datos.bdTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.158;initial catalog=bdToolsDes;user id=usdes;password=Su_4320$.x;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="baseprodEntities" connectionString="metadata=res://*/Datos.BaseprodModel.csdl|res://*/Datos.BaseprodModel.ssdl|res://*/Datos.BaseprodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.158;initial catalog=desarrollo;persist security info=True;user id=usdes;password=Su_4320$.x;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="tmpImages" value="d:\tmpUpload" />
    <add key="urlServ" value="https://chileautos.storage.csnstatic.com/chileautos/" />
    <add key="urlServFinal" value="https://chileautos.pxcrush.net/chileautos/" />
    <add key="usrServ" value="liveimages@chileautos.cl" />
    <add key="pwdServ" value="13Hq0hMLVYweN4bNJVVf" />
    <add key="PlantillaPublicado" value="~/PlantillasCorreo/publicar/mail-chileautos.txt"></add>
    <add key="Plantilla2Publicado" value="~/PlantillasCorreo/publicar/mail-chileautos2.txt"></add>
    <add key="PlantillaContrato" value="~/PlantillasCorreo/publicar/mail-chileautos-contrato.txt"></add>
    <add key="PlantillaRetiroAviso" value="~/PlantillasCorreo/publicar/mail-chileautos-eliminado.txt"></add>
    <add key="PlantillaRetiroAvisoPrepago" value="~/PlantillasCorreo/publicar/mail-chileautos-eliminadoprepago.txt"></add>
    <add key="PlantillaRecuperaContrasegna" value="~/PlantillasCorreo/publicar/mail-chileautos-contrasena.txt"></add>
    <add key="PlantillaSeguro" value="~/PlantillasCorreo/publicar/mail-chileautos-seguro.txt"></add>
    <add key="PlantillaCredito" value="~/PlantillasCorreo/publicar/mail-chileautos-credito.txt"></add>
    <add key="PlantillaCreditoFormulario" value="~/PlantillasCorreo/publicar/mail-chileautos-credito_vformulario.txt"></add>
    <add key="PlantillaRepublicacionPrePago" value="~/PlantillasCorreo/publicar/mail-chileautos-republicacion-prepago.txt"></add>
    <add key="Plantilla0Km" value="~/PlantillasCorreo/publicar/mail-chileautos-0km.txt"></add>
    <add key="PlantillaSeguroEmpresa" value="~/PlantillasCorreo/publicar/mail-chileautos-seguro-empresa.txt"></add>
    <add key="PlantillaCreditoEmpresa" value="~/PlantillasCorreo/publicar/mail-chileautos-credito-empresa.txt"></add>
    <add key="PlantillaCotizacionConcesionaria" value="~/PlantillasCorreo/Convenios/mail-chileautos-cotizacion-concesionaria.txt"></add>
    <add key="PlantillaCotizacionParticular" value="~/PlantillasCorreo/Convenios/mail-chileautos-cotizacion-particulara.txt"></add>
    <add key="PlantillaParticularesVendido" value="~/PlantillasCorreo/publicar/mail-chileautos-denuncia-particularesV.txt"></add>
    <add key="PlantillaParticularesFraude" value="~/PlantillasCorreo/publicar/mail-chileautos-denuncia-particularesF.txt"></add>
    <add key="PlantillaAutomotoras" value="~/PlantillasCorreo/publicar/mail-chileautos-denuncia-automotorasV.txt"></add>
    <add key="PlantillaCobranzaAutomotoras" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-automotoras.txt"></add>
    <add key="PlantillaCobranzasRegistroCivil" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-registrocivil.txt"></add>
    <add key="PlantillaCobranzasEstandar" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-estandar.txt"></add>
    <add key="PlantillaCobranzasDeuda" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-deudapendiente.txt"></add>
    <add key="PlantillaCobranzasExito" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-exito.txt"></add>
    <add key="PlantillaCobranzasPlazo" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-plazo.txt"></add>
    <add key="PlantillaCobranzasOtroMedio" value="~/PlantillasCorreo/cobranzas/mail-chileautos-cobranzas-otromedio.txt"></add>
    <add key="PlantillaPremiun" value="~/PlantillasCorreo/prepago/mail-postpago-a-premiun.txt"></add>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="51200" executionTimeout="300" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {1067A415-F5C5-4B9D-9052-F003C0D19E31}-->